

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: 'Signika', sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../fondo.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
 color: blue ;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}
h1{
  font-family: 'Playfair Display', serif;
  color: blue;
  background-color: black;
  text-align: center;
  padding: 8px;
}
h2{
  font-family: 'Playfair Display', serif;
  color: black;
}
#juego div {

  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

img{
  height: 198px;
  width: 198px;
  border: solid 1px black;
  float: left;
}

.col-60 { 
  background-color: black;
  width: 601px;
  height:600px;
}
.oscorp{
  float: left;
  width:200px;
  height:200px;
}

b{
  color: blue ;

}